_*.py
_*.ipynb
third_party
sample_data
data
ICT
test-mesh
ckpt*
test_results
data_capture
ict_face_pt

*.mp4
.hypothesis
# .npy
# *.npy
*.npz
!norm_stats/*.npz
*.dae

*.tar
_*.sh

x_*.py
x_*.ipynb
x_*.npy

utils/*/*lve*.txt

*/*/*.ipynb_checkpoints/
*/*.ipynb_checkpoints
*.ipynb_checkpoints

__pycache__/
*/__pycache__/
*/*/__pycache__/

ckpt
cache
experiments
# pytorch3d
results*
data_capture
data_capture.tar

data/
ckpt/
cache/
experiments/
pytorch3d/
test-mesh/
third_party/
results/
ICT/*/
*tmp*/
_exp*/
eval_CBD/
analysis_CBD/

_demo/
_notebook/
ict_face_pt/

*.npy
!maya_rig/*.npy
!maya_rig/**/*.npy
ckpt*

# eval*
tmp
*.obj

sanity_check_strain_output/
dataset_vis/
smooth_analysis_output/
smooth_sanity_output/
scripts/fit_pca_mf.py
scripts/vis_smooth_sanity.py
strain_option_vis/
jacobian_strain_vis/
eval_hlbs/
maya_rig/old/
