_*.py
_*.ipynb
third_party
sample_data
data
ICT
test-mesh
ckpt*
test_results
data_capture
ict_face_pt

*.mp4
.hypothesis
# .npy
# *.npy
*.npz
*.dae

*.tar
_*.sh

x_*.py
x_*.ipynb
x_*.npy

utils/*/*lve*.txt

*/*/*.ipynb_checkpoints/
*/*.ipynb_checkpoints
*.ipynb_checkpoints

__pycache__/
*/__pycache__/
*/*/__pycache__/

ckpt
cache
experiments
# pytorch3d
results*
data_capture
data_capture.tar

data/
ckpt/
cache/
experiments/
pytorch3d/
test-mesh/
third_party/
results/
ICT/*/
*tmp*/
_exp*/

_demo/
_notebook/
ict_face_pt/

*.npy
ckpt*
eval*
tmp
*.obj
