_tmp/
_*.py
_*.ipynb
third_party
sample_data
data
ICT
test-mesh
ckpt*
test_results
data_capture

video/
vis_CBD/
ckpts_CBD/
eval_CBD/
eval_cyc/
eval_CBD_bs/
eval_CBD_cif/
eval_CBD_cp/
eval_CBD_gc/
eval_CBD_lp/
eval_1000/
eval_align/
smoke_test/

*.pkl
*/*.pkl
*/*/*.pkl

*.mp4
.hypothesis
# .npy
# *.npy
*.npz
*.dae

*.tar
_*.sh

x_*.py
x_*.ipynb
x_*.npy

utils/*/*lve*.txt

*/*/*.ipynb_checkpoints/
*/*.ipynb_checkpoints
*.ipynb_checkpoints

__pycache__/
*/__pycache__/
*/*/__pycache__/

ckpt
cache
experiments
# pytorch3d
results*
data_capture
data_capture.tar

data/
ckpt/
cache/
experiments/
pytorch3d/
test-mesh/
third_party/
results/
ICT/*/
*tmp*/
_exp*/

notebook/fig*/
render/video*/
vis*/

_demo/
_notebook/
ict_face_pt/

*.npy
ckpt*
tmp
*.obj
